{% load static %}
<div class="add-icon-modal" id="addIconModal">
    <div class="add-icon-modal-overlay" id="addIconModalOverlay"></div>
    <div class="add-icon-modal-content">
        <div class="add-icon-modal-buttons">
            <button class="add-icon-modal-item" id="deviceExploreBtn">
                <span>내 디바이스에서 탐색</span>
            </button>
            <button class="add-icon-modal-item" id="profileImageBtn">
                <span>프로필 이미지 사용</span>
            </button>
        </div>
    </div>
</div>
<input type="file" id="imageFileInput" accept=".jpg,.jpeg,.png" style="display: none;"/>
