{% load static %}
<!-- 채팅 삭제 확인 모달 -->
<div id="chatDeleteModal" class="chatDelete-modal">
    <div class="chatDelete-modal-content small-modal-content">
        <p class="chatDelete-modal-message">채팅 기록을 정말 삭제하시겠습니까?</p>
        <div class="chatDelete-buttons">
            <button type="button" class="chatDelete-btn cancel-btn" id="chatDeleteCancelBtn">취소</button>
            <button type="button" class="chatDelete-btn confirm-btn" id="chatDeleteConfirmBtn">삭제</button>
        </div>
    </div>
</div>
