__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

venv/
.env/
*.env

.vscode/
.idea/

results
images
model/IdentiFace/Models
model/HairFastGAN/input
model/HairFastGAN/pretrained_models

data
rag/db
uploaded_images
generated_images